#_preseed_V1

d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string

d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/hostname select deb.debian.org
d-i mirror/http/directory string /debian/
d-i mirror/http/proxy string

# Skip creation of a root account (normal user can use sudo)
d-i passwd/root-login boolean false
d-i passwd/root-password password
d-i passwd/root-password-again password

# Controls whether or not the hardware clock is set to UTC
d-i clock-setup/utc boolean true

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select noswap
d-i partman-auto/expert_recipe string                         \
      noswap ::                                               \
              538 538 538 fat32                               \
                  $primary{ }                                 \
                  $bootable{ }                                \
                  method{ efi }                               \
                  format{ }                                   \
              .                                               \
              1024 2048 -1 ext4                               \
                  $primary{ }                                 \
                  method{ format }                            \
                  format{ }                                   \
                  use_filesystem{ }                           \
                  filesystem{ ext4 }                          \
                  mountpoint{ / }                             \
              .

# Skip warning message about no swap space
d-i partman-basicfilesystems/no_swap boolean false

# Automatically partition without confirmation
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Ensure partition table is GPT - this is required for EFI
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt

# Don't scan additional installation media
d-i apt-setup/cdrom/set-first boolean false

# Optionally install non-free firmware and software
# d-i apt-setup/non-free-firmware boolean true
# d-i apt-setup/non-free boolean true
# d-i apt-setup/contrib boolean true

# Select update services and mirrors
d-i apt-setup/use_mirror boolean true
d-i mirror/http/mirror select deb.debian.org

# Optionally install packages
# tasksel tasksel/first multiselect standard, xfce-desktop

# Don't display tasksel dialog
d-i pkgsel/run_tasksel boolean false

popularity-contest popularity-contest/participate boolean false

# Make grub automatically install to the UEFI partition/boot record if no other operating system is detected on the machine
d-i grub-installer/only_debian boolean true

# Allow grub to install on the UEFI partition/boot record regardless of whether or not it finds some other OS
d-i grub-installer/with_other_os boolean true

# Install to the primary device (assuming it is not a USB)
d-i grub-installer/bootdev string default

# Avoid message about the install being complete
d-i finish-install/reboot_in_progress note

# Power off the machine when the install is complete
d-i debian-installer/exit/poweroff boolean true
